# General
.DS_Store
__pycache__/
*.py[cod]
*.egg-info/
.Python
.venv/
venv/
env/
.env
.openrouterkey
.nvinferencekeys
.capx_skills.json
.pytest_cache/
.ruff_cache/

scripts/nv_*
# Build
build/
dist/
node_modules/

# Editors
.idea/
.vscode/
checkpoints/
libero_dataset/
.cursor/

output/
old_output/
outputs/
output_debug/
outputs**
curobo_debug/
=*
core.*
wandb/
.webui_secret_key

.venv
.venv-libero
logs/

*.jpg
*.png
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp
check.md

mem
logs